name: test-linux

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test-linux:
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name
    strategy:
      fail-fast: false
      matrix:
        php: ['8.2', '8.3', '8.4', '8.5']
    steps:
    - uses: actions/checkout@v4
    - name: Show machine information
      run: |
        date
        env
        uname -a
        ulimit -a
        php -v
        php --ini
        ls -al
        pwd
        echo "`git log -20 --pretty --oneline`"
        echo "`git log -10 --stat --pretty --oneline`"
      env:
          PHP_VERSION: "${{ matrix.php }}"
    - name: Run Openswoole test
      run: |
        export CI_BRANCH=${GITHUB_REF##*/}
        ${{runner.workspace}}/ext-openswoole/ci/route.sh
      env:
          PHP_VERSION: "${{ matrix.php }}"
    # - name: Upload Unit Test Results
    #   if: always()
    #   uses: actions/upload-artifact@v4
    #   with:
    #     name: PHP ${{ matrix.php }}
    #     path: tests/test-results.xml

  # publish-test-results:
  #   name: "Publish PHP Unit Tests Results"
  #   needs: test-linux
  #   runs-on: ubuntu-latest
  #   if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name

  #   steps:
  #     - name: Download Artifacts
  #       uses: actions/download-artifact@v4
  #       with:
  #         path: artifacts

  #     - name: Publish PHP Test Results
  #       uses: EnricoMi/publish-unit-test-result-action@v1
  #       with:
  #         check_name: PHP Test Results
  #         files: artifacts/**/*.xml